
/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

img {
	max-width: 100%;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/



@font-face {
	font-family: 'Poppins-Klaviyo-Hosted'; 
	src: url(https://static.klaviyo.com/onsite/hosted-fonts/Poppins/latin/poppins_latin_italic_400.woff2);
	font-weight: 400;
	font-style: italic;
	font-display: swap;
  }
@font-face {
	font-family: 'Poppins-Klaviyo-Hosted'; 
	src: url(https://static.klaviyo.com/onsite/hosted-fonts/Poppins/latin/poppins_latin_italic_700.woff2);
	font-weight: 700;
	font-style: italic;
	font-display: swap;
  }
@font-face {
	font-family: 'Poppins-Klaviyo-Hosted'; 
	src: url(https://static.klaviyo.com/onsite/hosted-fonts/Poppins/latin/poppins_latin_regular_400_2.woff2);
	font-weight: 400;
	font-style: normal;
	font-display: swap;
  }
@font-face {
	font-family: 'Poppins-Klaviyo-Hosted'; 
	src: url(https://static.klaviyo.com/onsite/hosted-fonts/Poppins/latin/poppins_latin_regular_700.woff2);
	font-weight: 700;
	font-style: normal;
	font-display: swap;
  }
@font-face {
	font-family: 'SangBleuCORRECT'; 
	src: url(https://www.moooi.com/_next/static/media/2f795e3dc4f7d5d7-s.p.woff2);
	font-weight: 400;
	font-style: normal;
	font-display: swap;
  }
@font-face {
	font-family: 'SangBleuCORRECT'; 
	src: url(https://www.moooi.com/_next/static/media/37baf8b6fc811eb1-s.p.woff2);
	font-weight: 700;
	font-style: normal;
	font-display: swap;
  }
@font-face {
	font-family: 'SangBleuCORRECT'; 
	src: url(https://www.moooi.com/_next/static/media/40f582e5ab579a08-s.p.woff2);
	font-weight: 400;
	font-style: italic;
	font-display: swap;
  }
@font-face {
	font-family: 'SangBleuCORRECT'; 
	src: url(https://www.moooi.com/_next/static/media/9f0b974069359fc3-s.p.woff2);
	font-weight: 600;
	font-style: normal;
	font-display: swap;
  }

  h1 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
/* jouw code */

body, html{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

section {
    width: 100%;
}


a{
	text-decoration: none;
	color: white;
}

figcaption{
	color: #111;
}

h1{
	color: white;
	font-weight: 550;
	font-size: 38px;
	font-family: 'SangBleuCORRECT';
	text-align: center;
	line-height: 1.2;
	letter-spacing: -.02em;
	font-style:normal;
	font-feature-settings: "ss01";
}

h2{
	color: white;
	font-family: 'Gill Sans';
	font-size: 14px;
	font-style: normal;
	text-transform: uppercase;
	font-feature-settings: "ss01";
	font-weight: 200;
	line-height: 1.1;
	letter-spacing: .1em;
	text-align: center;
}

h3{
	color: white;
	text-align: center;
}

p{
	color: white;
	text-align: center;
	font-family: 'SangBleuCORRECT';
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: -.02em;
	width: 330px;
}

nav{
	display: flex;
}

nav .menubutton {
	position: fixed;
	bottom: 0;
	width: 375px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 7em;
}

nav form{
	position: absolute;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 2.55em;
	width: 100%;
}

nav form label{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav form label svg{
	width: 1em;
	height: auto;
	margin: 3px 2.2222222222vw 0;
	display: block;
	filter: invert(100);
}

nav form button{
	padding: 0;
	width: 1.3em;
	margin: 1px 13px 0;
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
}



header nav div:nth-of-type(2){
	position: absolute;
	padding: 10px;
    background: linear-gradient(270deg,#21212199 14.44%,#46454399 93.61%),#000;
	border-radius: 8px;
	box-shadow: 6px 4px 11px #00000040,inset -2px -2px 2px #00000040,inset -1px -1px .5px #00000030;
	translate: 0 150%;
	transition: translate .3s;
	display: flex;
	flex-direction: column;
	align-items: center;
	left: 30px;
	width: 315px;
	margin-top: 100px;
}

header nav div:nth-of-type(2) button{
	display: flex;
	margin-bottom: 10px;
}

nav button:first-of-type svg{
	width: 15px;
	left: 10px;
}

nav form label input{
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Gill Sans';
	font-feature-settings: "ss01";
	padding: 0 5px;
	line-height: 1.222em;
	text-overflow: ellipsis;
	letter-spacing: .01em;
	background-color: transparent;
	border: none;
}

nav ul{
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin-top: 60px;
}

nav ul li:nth-of-type(1), li:nth-of-type(2), li:nth-of-type(3),  a{
	font-family: 'SangBleuCORRECT';
	line-height: 1.3;
	font-weight: 400;
	letter-spacing: -.03em;
	font-size: 36px;
	text-align: center;
}

nav ul li:nth-of-type(4), li:nth-of-type(5), li:nth-of-type(6), li:nth-of-type(7), li:nth-of-type(8), li:nth-of-type(9)  a{
	font-family: 'Gill Sans';
	line-height: 2.8;
	font-weight: 300;
	font-feature-settings: "ss01";
	letter-spacing: .1em;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 1px;
}

nav.toonMenu{
	translate: 0% 0%;
}

nav ul li{
	color: white;
}

section > button{
	padding: 0 1em;
	background-color: #fff;
	border-radius: 2.5em;
	border-style: hidden;
	box-shadow: 3px 3px 10px #0000001a;
	font-size: 16px;
	font-family: 'SangBleuCORRECT';
	font-weight: 400;
	line-height: 1em;
	height: 2.5em;
	color: #1f1f1f;
	letter-spacing: -.02em;
	transition: 0.4s;
	margin-top: 20px;
}

button:hover{
	background-color: #DEDEDE;
}

button:active{
	color: white;
	background-color: black;
}

.menubutton button:hover{
	background-color: transparent;
}



header{
	background-image:url(../images/moooi-header.png);
	background-size: 1400px;
	height: 667px;
	background-position: center;
	background-color: #111;
	display: flex;
	flex-wrap: wrap;
}

nav{
	position: fixed;
}

header nav button img{
	height: 84px;
	width: 84px;

}	

header nav div:first-of-type button p{
	font-family: 'SangBleuCORRECT';
	position: absolute;
	display: flex;
	margin-left: 15px;
	margin-top: 35px;
	font-size: 15px;
	font-weight: 500;
	line-height: 17px;
	text-transform: uppercase;
	letter-spacing: .1em;
}

nav div button{
	text-align: center;
}

nav div:nth-of-type(2) button p{
	display: flex;
	margin: 0px;
	width: 90px;
}

nav div button:first-of-type svg{
	filter: invert(100);
} 

header nav button{
	all: unset;
    text-align: center;
	transition: 0.4s;
}

header nav button:active{
	opacity: 0.8;
}

.buttons{
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
	margin-top: 10px;
	align-items: center;
	height: fit-content;
}

div a svg{
	width: 16px;
	height: 16px;
}

div a{
	width: 16px;
	height: 16px;
}


div a:nth-of-type(2) svg{
	width: 109px;
	height: 16px;
	order: 3;
}

div a:nth-of-type(2){
	width: 109px;
	height: 16px;
	margin-right: 30px;
}

div a:nth-of-type(4){
	margin-top: -6px;
}

.buttons a:first-of-type{
	margin-right: 60px;
	margin-left: 20px;
}

.buttons a:last-of-type{
	margin-right: 20px;
}

div a:last-of-type svg{
	height: 20px;
}

section:first-of-type{
	padding: 5vw;
	display: flex;
	align-items: center;
	flex-direction: column;
	
}

main section{
	background-color: white;
}

main section:nth-of-type(1) h2{
	color: #1f1f1f;
	font-size: 13px;
	font-weight: 700;
	font-family: 'Gill Sans';
	font-feature-settings: 'ss01';
	line-height: 1.2em;
	text-transform: uppercase;
	letter-spacing: .06em;

}

main section ul {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    justify-content: flex-start;
    overflow-x: auto;
    gap: 20px; 
    height: 200px; 
    padding: 10px 20px;
    scroll-behavior: smooth;
	box-sizing: border-box;
}

main section ul li {
    background-color: #f8f6f1;
    flex: 0 0 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	text-align: center;
    box-sizing: border-box;
	margin: 10px 0;
}

main section ul li img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

main section ul li a {
    text-align: center;
    color: #1f1f1f;
    font-size: 14px;
    text-decoration: none;
    line-height: 1.2;
    font-family: 'SangBleuCORRECT', sans-serif;

}

main section:nth-of-type(2){
	background-color: #f3f3f3;
}

main section:nth-of-type(2) h1{
	color: #1f1f1f;
}

main section:nth-of-type(2) h2{
	color: #1f1f1f;
}

main section:nth-of-type(2) h3{
	color: #1f1f1f;
}

main section:nth-of-type(2) img{
	width: 266px;
	height: 278px;
	margin-bottom: 20px;
	margin-top: 50px;
}

main section{
	display: flex;
	flex-direction: column;
	align-items: center;
}

main section:nth-of-type(2) h1{
	width: 80%;
}

main section a{
	color: #1f1f1f;
	font-family: 'SangBleuCORRECT';
	margin-bottom: 20px;
	text-decoration: underline;
	text-underline-offset: 4px;
	font-weight: 500;
	line-height: 2em;
	height: 2.5em;
}

main section:nth-of-type(3){
	background-color: #2f313a;
	display: flex;
	flex-direction: column;
	align-items: center;

}

main section:nth-of-type(3) img{
	width: 266px;
	height: 278px;
	margin-bottom: 20px;
	margin-top: 50px;
}

main section:nth-of-type(3) h1{
	width: 80%;
}

main section:nth-of-type(3) a{
	color: white;
	margin-bottom: 80px;
}

main section:nth-of-type(4){
	
}